:root{
  --outline-color: #000;
}
.App {
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://cdn.discordapp.com/attachments/1041443734216261632/1050177594072502373/1579807036567-08_28_2019_HOW_I_INFILTRATED_A_CHINESE_DRUG_LAB_CV.png");
  background-color: #1e2026;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
